# Test Report

| 🕙 Start time | ⌛ Duration |
| --- | ---: |
| 7/19/2025, 2:31:33 AM | 0.501 s |

| | ✅ Passed | ❌ Failed | ⏩ Skipped | 🚧 Todo | ⚪ Total |
| --- | ---: | ---: | ---: | ---: | ---: |
|Test Suites|2|0|0|0|2|
|Tests|27|0|0|0|27|

## ✅ <a id="file0" href="#file0">test/index.test.ts</a> [[link](https://github.com/bepalo/time/blob/823a5e41f9f505a657c93d02ef8cb84b893f2f53/test/index.test.ts)]

27 passed, 0 failed, 0 skipped, 0 todo, done in 5 s

```
✅ Time API coverage
   ✅ Time.every(5).Days
   ✅ Time.every(5).days.fromNow
   ✅ Time.every(5).days.fromNow()
   ✅ Time.every(5).days.from(Time.now())
   ✅ Time.for(5).Days
   ✅ Time.for(5).hours.FromNow
   ✅ Time.for(5).hours.fromNow()
   ✅ Time.in(5).Days
   ✅ Time.in(5).days.FromNow
   ✅ Time.in(5).days.fromNow()
   ✅ Time.in(5).days.from(Time.now())
   ✅ Time.after(5).Days
   ✅ Time.after(5).days.FromNow
   ✅ Time.after(5).days.fromNow()
   ✅ Time.after(5).days.from(Time.now())
   ✅ Time.before(5).Days
   ✅ Time.before(5).days.FromNow
   ✅ Time.before(5).days.fromNow()
   ✅ Time.before(5).days.from(Time.now())
   ✅ Time.in(10).years.FromNow
   ✅ Time.after(3).days.and(1).Hour
   ✅ Time.for(2).hours._s
   ✅ Time.after(3).minutes
   ✅ Time.after(3).minutes.and(20).seconds
   ✅ Time.after(3).minutes.and(20).seconds.and(30).Milliseconds
   ✅ Time.after(3).minutes.and(20).seconds.FromNow
   ✅ Time.for(1).days.and(6).hours._
```
